li {
    padding: 5px;
    margin: 5px;
    background: #ffffff;
}

.label {
    font-weight: bold;
}
  
.create-update-form {
    padding: 5px;
    margin: 5px;
    background: #2fe4fe;
}
  
.form-group {
    margin-bottom: 5px;
}
  